
<div class="text-block-container">
  <div class="text-block left">
    <div>
      <h2 class="page-title">
        <span class="subtitle">Vaš Mirni Raj</span>
        Stanovi u Slavinovicima, Tuzla
      </h2>
      <p>“Alu Din Styl” d.o.o. sa sjedištem u Tuzli posluje od 2014. godine. Početak gradnje najavljen je od 01. marta 2024. godine. U srcu mirnog naselja Slavinovći, zgrada nudi priliku da se sklonite od gradske vreve i uživate u tišini. Smještena uz osnovnu školu, djeci omogućava jednostavan pristup ustanovi, dok blizina supermarketa olakšava svakodnevne nabavke. Ova udobna oaza savršeno je mjesto za porodični život u blizini prirode.</p>
      <p *ngIf="false">Ovdje, u srcu mirnog naselja Slavinovici, naša zgrada nudi vam priliku da se sklonite od gradske vreve i uživate u tišini. Smještena uz osnovnu školu, omogućava vašoj djeci jednostavan pristup obrazovanju, dok blizina supermarketa olakšava svakodnevne nabavke. Ova udobna oaza savršeno je mjesto za porodični život u blizini prirode.</p>
    </div>
    <img src="assets/images/parkview-4.png" alt="" />
  </div>

  <div class="text-block right">
    <img src="assets/images/parkview-2.png" alt="" />
    <div>
      <h2 class="page-title">
        <span class="subtitle">Pogled na Prirodu</span>
        Stanovi uz Predivan Park
      </h2>
      <p>
        Stambeni objekat će sadržavati stambene jedinice od 38 do 96 metara kvadratnih, te garažni prostor. Gradnja će se vršiti Ytong siporeksom - blok.
      </p>
      <p>Ytong zid ne treba dodatnu toplinsku izolaciju jer se i bez nje postiže velika ušteda energije na grijanju i hlađenu stana .</p>
      <p *ngIf="false">Probudite se uz inspirirajuće poglede na prekrasan park preko puta naše zgrade. Povežite se s prirodom iz svog udobnog stana, gdje svaka jutarnja kava postaje pravo zadovoljstvo. Ovdje, priroda postaje dio vašeg svakodnevnog života.</p>
    </div>
  </div>

  <div class="text-block left">
    <div>
      <h2 class="page-title">
        <span class="subtitle">Sve Na Korak Od Vas</span>
        Stanovi uz Školu i Supermarket
      </h2>
      <p>Fasadni termoizolacioni sistemi najvišeg kvaliteta - Baumit premium fasade.</p>
      <p>Italijanske keramičke pločice .</p>
      <p>Objekat će imati sve potrebne instalacije koje su neophodne za njegovu normalnu eksploataciju i korištenje kao što su : elektroinstalacije, telefonske instalacije, instalacije vodovoda i kanalizacije i hidranstke mreže kao i mašinske instalacije grijanja, instalacije klimatizacije .</p>
      <p *ngIf="false">Nema potrebe za dugim putovanjima jer se škola i supermarket nalaze praktično na vašem pragu. Naša lokacija omogućava vam uštedu vremena i energije, čineći svakodnevni život bržim i praktičnijim. Ovdje, sve je na dohvat ruke.</p>
    </div>

    <img src="assets/images/parkview-3.png" alt="" />
  </div>

  <div class="text-block right">
    <img src="assets/images/parkview-1.png" alt="" />
    <div>
      <h2 class="page-title">
        <span class="subtitle">Opušten Život Bez Buke</span>
        Stanovi Izdvojeni od Saobraćajnica
      </h2>
      <p>U ponudi imamo 16 stanova, 4 sprata.</p>
      <p>Stambeni objekat Ciglana Park View graditi će se sa visoko kvalitetnim materijalima i vrhunskom opremom, monolitnog i armiranog - betonskog konstruktivnog sistema, termo fasada, pvc prozori sa roletnama marke Deceuninck (belgijskog porijekla ) uz vrhunsku estetiku i funkcionalnost .</p>
      <p *ngIf="false">Zaboravite na gradske gužve i buku saobraćajnica. Naša zgrada izdvaja vas od svakodnevne buke, omogućavajući vam miran i opušten život. Ovdje, svaki dan postaje pravo zadovoljstvo, a noći su tihe i spokojne.</p>
    </div>
  </div>

  <div class="text-block left">
    <div>
      <h2 class="page-title">
        <span class="subtitle">Savršeno Mjesto za Srećnu Porodicu</span>
        Stanovi u Slavinovićima
      </h2>
      <p>Neka vaša porodica pronađe sreću u našoj zgradi u Slavinovicima. S obližnjom školom i supermarketom, ovaj kraj nudi sve što vam je potrebno za udoban život. Ovdje, svaki trenutak postaje poseban jer stvaramo prostor za srećne uspomene.</p>
    </div>

    <img src="assets/images/parkview-5.png" alt="" />
  </div>
</div>
