:host {
  padding: 32px;
}

.sprat-links {
  display: flex;
  gap: 4px;
  justify-content: start;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  max-width: 100%;
  width: 1200px;
  margin: 32px auto 0 auto;
  flex-wrap: wrap;

  // medial on mobile and size
  @media (max-width: 900px) {
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;
    box-sizing: border-box;
  }

  a {
    background-color: #ccc;
    border: 1px solid #ccc;
    border-bottom: 0;
    text-align: center;
    color: #666;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 16px 32px;
    opacity: 0.5;
    position: relative;
    transform: translateY(1px);
    flex: 1 1 auto;

    &:hover {
      color: #444;
      opacity: 1;
    }

    &.active {
      background-color: white;
      color: #444;
      opacity: 1;
    }
  }
}

.swiper-slide {
  display: flex;
  img {
    width: 50%;
  }
}

.text-block-container {
  gap: 32px;
}
