app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.global-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 32px;
  gap: 8px;

  h1, h2 {
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    a {
      color: #666;
      text-decoration: none;
      &:hover {
        color: #444;
      }
    }
  }
}

.text-block-container {
  display: flex;
  flex-direction: column;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;

  // Two columns in grid with same size
  .text-block {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    font-family: 'Poppins', sans-serif;

    @media (max-width: 600px) {
      display: flex;
      flex-direction: column;
      padding: 8px;
      margin-bottom: 8px;

      &.left {
        flex-direction: column-reverse;
      }

      > div {
        padding: 8px 0!important;
        h2, p {
          text-align: center!important;
        }

        h2 {
          font-size: 1.5rem;
          padding: 0 16px;
        }

        p {
          padding: 0 16px;
          margin: 0;
        }
      }
    }

    img {
      max-width: 100%;
    }

    h2 {
      font-size: 2rem;
      font-weight: 100;
      font-style: italic;
      margin: 0;
    }

    > div {
      padding: 4px 32px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &.left {
      > div {
        h2, p {
          text-align: right;
        }
      }
    }

    &.right {
      > div {
        h2, p {
          text-align: left;
        }
      }
    }
  }
}

.sprat-links {
  display: flex;
  gap: 4px;
  justify-content: start;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
  max-width: 100%;
  width: 1200px;
  margin: 32px auto 0 auto;
  flex-wrap: wrap;

  // medial on mobile and size
  @media (max-width: 600px) {
    justify-content: center;
    flex-direction: column;
    padding: 0 16px;
    box-sizing: border-box;
  }

  a {
    background-color: #ccc;
    border: 1px solid #ccc;
    border-bottom: 0;
    text-align: center;
    color: #666;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 16px 32px;
    opacity: 0.5;
    position: relative;
    transform: translateY(1px);
    flex: 1 1 auto;

    &:hover {
      color: #444;
      opacity: 1;
    }

    &.active {
      background-color: white;
      color: #444;
      opacity: 1;
    }
  }
}

.swiper-slide {
  display: flex;
  img {
    width: 50%;
  }
}

.page-title {
  font-family: 'Playfair Display', sans-serif;
  font-weight: 100;
  font-size: 34px;
  width: 1200px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  .subtitle {
    font-size: 16px;
    color: #999;
    font-family: 'Roboto Flex';
  }
}